@model ProjetoRefugiados.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Regristrar Novo Login";
}

<div class="row">
    <div class="jumbotron col-lg-6 col-lg-offset-3 col-sm-7 col-sm-offset-3">
        <fieldset>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <label class="panel-title">@ViewBag.Title</label>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Crie uma nova conta.</h4>
                            <hr />
                            <div class="col-sm-8 col-sm-offset-2">

                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CPF, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.CPF, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CPF, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-1 colsm11 col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-default" value="Registrar-se" />
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Crie uma nova conta.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.CPF, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.CPF, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-default" value="Registrar-se" />
                                    </div>
                                </div>
    }*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
