@model ProjetoRefugiados.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Regristrar Novo Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Tipo = new List<SelectListItem>(){
        new SelectListItem(){Value="Administrador",Text="Administrador"},
        new SelectListItem(){Value="Estagiario",Text="Estagiario"},
        new SelectListItem(){Value="Atendente",Text="Atendente"},
        new SelectListItem(){Value="Enfermeiro",Text="Enfermeiro"},
        new SelectListItem(){Value="Medico",Text="Medico"}
    };
}



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Crie uma nova conta.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.CPF, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CPF, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Role, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.Role, Tipo)
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-white btn-info btn-bold">
                <i class="ace-icon fa fa-plus bigger-120 blue"></i>Criar
            </button>
        </div>
}