@model ProjetoRefugiados.Web.ViewModels.RefugiadoViewModel

@{
    var modelo = @Model;
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Refugiado</h4>
    <hr />
</div>
<div class="tabbable">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#home" aria-expanded="true">
                <i class="ace-icon fa fa-user"></i>
                Dados Pessoais
            </a>
        </li>

        <li class="">
            <a data-toggle="tab" href="#messages" aria-expanded="false">
                <i class="menu-icon fa fa-heartbeat"></i>
                Triagens
            </a>
        </li>
        <li class="">
            <a data-toggle="tab" href="#cartas" aria-expanded="false">
                <i class="menu-icon fa fa-university"></i>
                Cartas de encaminhamentos
            </a>
        </li>
        <li class="">
            <a data-toggle="tab" href="#exames" aria-expanded="false">
                <i class="menu-icon fa fa-medkit"></i>
                Exames
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade active in">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CPF)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CPF)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RG)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RG)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Sexo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sexo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataDeChegada)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataDeChegada)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReligiaoId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Religiao.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NacionalidadeId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nacionalidade.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProfissaoId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Profissao.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PaisId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Pais.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vacinacao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vacinacao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MembrosNaFamilia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MembrosNaFamilia)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataDeNascimento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataDeNascimento)
                </dd>
            </dl>
            @if (Model.Ativo == false)
            {
            <div class="alert alert-block alert-success">
                <p>
                    Este
                    <strong>
                        Refugiado
                    </strong>
                    está desativado! Clique para ativa-lo
                </p>

                <p>
                    <a href="~/Refugiado/Ativa/@Model.RefugiadoId" class="btn btn-white btn-info btn-bold">
                        <i class="ace-icon fa fa-wrench  blue"></i>Ativar!
                    </a>
                </p>
            </div>

            }
            else
            {
            <div class="alert alert-block alert-success">
                <p>
                    Este
                    <strong>
                        Refugiado
                    </strong>
                    está Ativo!
                </p>
            </div>
            }

        </div>
        <div id="messages" class="tab-pane fade">
            <div>
                @if (Model.Triagens.Count != 0)
                {
                <h4>Triagens</h4>
                <div class="form-horizontal">
                    @foreach (var item in Model.Triagens)
                        {
                    <div class="dl-horizontal">
                        <a href="#my-modal" role="button" data-toggle="modal">
                            <i class="menu-icon fa fa-file-text"></i>
                            <span class="menu-text">Triagem feita dia: @item.DataDeModificacao</span>
                        </a>

                        <div id="my-modal" class="modal fade" tabindex="-1" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 class="smaller lighter blue no-margin">Triagem feita dia: @item.DataDeModificacao!</h3>
                                    </div>

                                    <div class="modal-body">
                                        <dl class="dl-horizontal">
                                            <dt>
                                                Queixas Atuais
                                                :
                                            </dt>

                                            <dd>
                                                @item.QueixaAtual
                                            </dd>

                                            <dt>
                                                Tratamentos
                                                :
                                            </dt>

                                            <dd>
                                                @item.Tratamentos
                                            </dd>

                                            <dt>
                                                Uso de Drogas
                                                :
                                            </dt>

                                            <dd>
                                                @item.UsoDrogas
                                            </dd>

                                            <dt>
                                                Tempo
                                                :
                                            </dt>

                                            <dd>
                                                @item.UsoDrogaTempo
                                            </dd>

                                            <dt>
                                                Medicação continua
                                                :
                                            </dt>

                                            <dd>
                                                @item.MedicacaoContinua
                                            </dd>

                                            <dt>
                                                Tempo
                                                :
                                            </dt>

                                            <dd>
                                                @item.MedicacaoTempo
                                            </dd>

                                            <dt>
                                                Habitos Higienicos
                                                :
                                            </dt>

                                            <dd>
                                                @item.HabitosHigienicos
                                            </dd>

                                            <dt>
                                                Alimentação
                                                :
                                            </dt>

                                            <dd>
                                                @item.Alimentacao
                                            </dd>

                                            <dt>
                                                Ingestao Hidrica
                                                :
                                            </dt>

                                            <dd>
                                                @item.IngestaoHidrica
                                            </dd>

                                            <dt>
                                                Sono/Repouso
                                                :
                                            </dt>

                                            <dd>
                                                @item.SonoRepouso
                                            </dd>

                                            <dt>
                                                Atividade Fisica
                                                :
                                            </dt>

                                            <dd>
                                                @item.AtividadeFisica
                                            </dd>

                                            <dt>
                                                Lazer
                                                :
                                            </dt>

                                            <dd>
                                                @item.Lazer
                                            </dd>

                                            <dt>
                                                Frêquencia Urianaria
                                                :
                                            </dt>

                                            <dd>
                                                @item.FrequenciaUrianaria
                                            </dd>

                                            <dt>
                                                Frêquencia Intestinal
                                                :
                                            </dt>

                                            <dd>
                                                @item.FrequenciaIntestinal
                                            </dd>
                                            @if (item.refugiado.Sexo == "F")
                                                    {
                                                <dt>
                                                    Menarca
                                                    :
                                                </dt>

                                                <dd>
                                                    @item.Menarca
                                                </dd>

                                                <dt>
                                                    DUM
                                                    :
                                                </dt>

                                                <dd>
                                                    @item.DUM
                                                </dd>

                                                <dt>
                                                    Nº Parceiros
                                                    :
                                                </dt>

                                                <dd>
                                                    @item.NParceiros
                                                </dd>

                                                <dt>
                                                    Telarca
                                                    :
                                                </dt>

                                                <dd>
                                                    @item.Telarca
                                                </dd>

                                                <dt>
                                                    Gestacoes G
                                                    :
                                                </dt>

                                                <dd>
                                                    @item.GestacoesG
                                                </dd>

                                                <dt>
                                                    Gestacoes P
                                                    :
                                                </dt>

                                                <dd>
                                                    @item.GestacoesP
                                                </dd>

                                                <dt>
                                                    Gestacoes A
                                                    :
                                                </dt>

                                                <dd>
                                                    @item.GestacoesA
                                                </dd>

                                                <dt>
                                                    Ultimo Papanicolau
                                                    :
                                                </dt>

                                                <dd>
                                                    @item.UltimoPapanicolau
                                                </dd>

                                                <dt>
                                                    Resultado
                                                    :
                                                </dt>

                                                <dd>
                                                    @item.Resultado
                                                </dd>

                                                <dt>
                                                    Exame De Mama
                                                    :
                                                </dt>

                                                <dd>
                                                    @item.ExameDeMama
                                                </dd>
                                                    }
                                            <dt>
                                                Sinais PA
                                                :
                                            </dt>

                                            <dd>
                                                @item.SinaisPA
                                            </dd>

                                            <dt>
                                                Sinais P
                                                :
                                            </dt>

                                            <dd>
                                                @item.SinaisP
                                            </dd>

                                            <dt>
                                                Sinais TEMP
                                                :
                                            </dt>

                                            <dd>
                                                @item.SinaisTEMP
                                            </dd>

                                            <dt>
                                                Sinais RESP
                                                :
                                            </dt>

                                            <dd>
                                                @item.SinaisRESP
                                            </dd>

                                            <dt>
                                                Sinais DOR
                                                :
                                            </dt>

                                            <dd>
                                                @item.SinaisDOR
                                            </dd>

                                            <dt>
                                                Problemas Encontrados
                                                :
                                            </dt>

                                            <dd>
                                                @item.ProblemasEncontrados
                                            </dd>

                                            <dt>
                                                Exame Fisico
                                                :
                                            </dt>

                                            <dd>
                                                @item.ExameFisico
                                            </dd>

                                            <dt>
                                                Diagnostico
                                                :
                                            </dt>

                                            <dd>
                                                @item.Diagnostico
                                            </dd>

                                            <dt>
                                                Prescrições
                                                :
                                            </dt>

                                            <dd>
                                                @item.Prescricros
                                            </dd>

                                            <dt>
                                                Resultados
                                                :
                                            </dt>

                                            <dd>
                                                @item.Resultados
                                            </dd>

                                            <dt>
                                                Obs
                                                :
                                            </dt>

                                            <dd>
                                                @item.Obs
                                            </dd>

                                        </dl>
                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-white btn-info btn-bold" data-dismiss="modal">
                                            <i class="ace-icon fa fa-times"></i>
                                            Close
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                    </div>
                        }
                </div>
                }
            </div>
        </div>
        <div id="cartas" class="tab-pane fade">
            @if (Model.Oportunidades.Count != 0)
            {
            <h4>Cartas de encaminhamentos</h4>
            <div class="form-horizontal">
                <div class="dl-horizontal">
                    @foreach (var item in Model.Oportunidades)
                        {
                    <div class="">
                        <a href="~/Refugiado/Imprimir/?key=@item.CartaDeEncaminhamentoId" target="_blank">
                            <i class="menu-icon fa fa-file-text"></i>
                            <span class="menu-text">Carta de encaminhamento feita em: @item.DataDeModificacao</span>
                        </a> |
                        @if (item.resultado == 0)
                                {
                            <a href="~/Refugiado/EncaminharPositivo/?key=@item.CartaDeEncaminhamentoId">
                                <i class="menu-icon fa fa-check"></i>
                                <span class="menu-text">Aprovado</span>
                            </a>
                            <a href="~/Refugiado/EncaminharNegativo/?key=@item.CartaDeEncaminhamentoId">
                                <i class="menu-icon fa fa-ban"></i>
                                <span class="menu-text">Reprovado</span>
                            </a>
                                }
                                else if (item.resultado == 1)
                                {
                            <i class="menu-icon fa fa-check"></i>
                            <span class="menu-text">Aprovado</span>
                                }
                                else
                                {
                            <i class="menu-icon fa fa-ban"></i>
                            <span class="menu-text">Reprovado</span>
                                }
                    </div>
                        }
                </div>

            </div>
            }
        </div>
        <div id="exames" class="tab-pane fade">
            @if (Model.Exames.Count != 0)
            {
            <h4>Exames medicos</h4>
            <div class="form-horizontal">
                <div class="dl-horizontal">
                    @foreach (var item in Model.Exames)
                        {
                        <div class="dl-horizontal">
                            <a href="#my-modal" role="button" data-toggle="modal">
                                <i class="menu-icon fa fa-file-text"></i>
                                <span class="menu-text">Exame feito dia: @item.DataDeModificacao</span>
                            </a>

                            <div id="my-modal" class="modal fade" tabindex="-1" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h3 class="smaller lighter blue no-margin">Exame feito: @item.DataDeModificacao!</h3>
                                        </div>

                                        <div class="modal-body">
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    Resultados do exame
                                                    :
                                                </dt>

                                                <dd>
                                                    @item.Descricao
                                                </dd>

                                            </dl>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-white btn-info btn-bold" data-dismiss="modal">
                                                <i class="ace-icon fa fa-times"></i>
                                                Close
                                            </button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>

                        </div>
                        }
                </div>
            </div>
            }
        </div>
        <div class="form-group col-xs-12">
            <hr />
            <p>
                <a href="~/Refugiado/Edit/@modelo.RefugiadoId" class="btn btn-white btn-info btn-bold">
                    <i class="menu-icon fa fa-pencil"></i>
                    <span class="menu-text">Edit</span>
                </a> |
                <a href="~/Triagem/Create/@modelo.RefugiadoId" class="btn btn-white btn-info btn-bold">
                    <i class="menu-icon fa fa-heartbeat"></i>
                    <span class="menu-text">Nova Triagem</span>
                </a> |
                <a href="~/Exames/Create/@modelo.RefugiadoId" class="btn btn-white btn-info btn-bold">
                    <i class="menu-icon fa fa-medkit"></i>
                    <span class="menu-text">Novo Exame</span>
                </a>
                | <a href="~/Refugiado/Index" class="btn btn-white btn-info btn-bold">
                    <i class="ace-icon fa fa-undo blue"></i>Voltar para a lista
                </a>
            </p>
        </div>
    </div>
</div>
