@model ProjetoRefugiados.Web.ViewModels.RefugiadoViewModel

@{
    var modelo = @Model;
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Refugiado</h4>
    <hr />
</div>
<div class="tabbable">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#home" aria-expanded="true">
                <i class="ace-icon fa fa-user"></i>
                Dados Pessoais
            </a>
        </li>

        <li class="">
            <a data-toggle="tab" href="#messages" aria-expanded="false">
                <i class="menu-icon fa fa-heartbeat"></i>
                Triagens
            </a>
        </li>
        <li class="">
            <a data-toggle="tab" href="#cartas" aria-expanded="false">
                <i class="menu-icon fa fa-university"></i>
                Cartas de encaminhamentos
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade active in">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CPF)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CPF)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RG)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RG)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Sexo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sexo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataDeChegada)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataDeChegada)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReligiaoId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Religiao.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NacionalidadeId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nascionalidade.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProfissaoId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Profissao.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PaisId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Pais.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vascinacao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vascinacao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MembrosNaFamilia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MembrosNaFamilia)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataDeNascimento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataDeNascimento)
                </dd>
            </dl>
            @if (Model.Ativo == false)
            {
                <div class="alert alert-block alert-success">
                    <p>
                        Este
                        <strong>
                            Refugiado
                        </strong>
                        está desativado! Clique para ativa-lo
                    </p>

                    <p>
                        <a href="~/Refugiado/Ativa/@Model.RefugiadoId" class="btn btn-white btn-info btn-bold">
                            <i class="ace-icon fa fa-wrench  blue"></i>Ativar!
                        </a>
                    </p>
                </div>

            }
            else
            {
                <div class="alert alert-block alert-success">
                    <p>
                        Este
                        <strong>
                            Refugiado
                        </strong>
                        está Ativo!
                    </p>
                </div>
            }

        </div>

        <div id="messages" class="tab-pane fade">
            <div>
                @if (Model.Triagens.Count != 0)
                {
                    <h4>Triagens</h4>
                    <div class="form-horizontal">
                        @foreach (var item in Model.Triagens)
                        {
                            <div class="dl-horizontal">
                                <a href="#my-modal" role="button" data-toggle="modal">
                                    <i class="menu-icon fa fa-file-text"></i>
                                    <span class="menu-text">Triagem feita dia: @item.DataDeModificacao</span>
                                </a>

                                <div id="my-modal" class="modal fade" tabindex="-1" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h3 class="smaller lighter blue no-margin">Triagem feita dia: @item.DataDeModificacao!</h3>
                                            </div>

                                            <div class="modal-body">
                                                <dl class="dl-horizontal">
                                                    <dt>
                                                        QueixaAtual
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.QueixaAtual
                                                    </dd>

                                                    <dt>
                                                        Tratamentos:
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.Tratamentos
                                                    </dd>

                                                    <dt>
                                                        UsoDrogas:
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.UsoDrogas
                                                    </dd>

                                                    <dt>
                                                        UsoDrogaTempo
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.UsoDrogaTempo
                                                    </dd>

                                                    <dt>
                                                        MedicacaoContinua
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.MedicacaoContinua
                                                    </dd>

                                                    <dt>
                                                        MedicacaoTempo
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.MedicacaoTempo
                                                    </dd>

                                                    <dt>
                                                        HabitosHigienicos
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.HabitosHigienicos
                                                    </dd>

                                                    <dt>
                                                        Alimentacao
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.Alimentacao
                                                    </dd>

                                                    <dt>
                                                        IngestaoHidrica
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.IngestaoHidrica
                                                    </dd>

                                                    <dt>
                                                        SonoRepouso
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.SonoRepouso
                                                    </dd>

                                                    <dt>
                                                        AtividadeFisica
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.AtividadeFisica
                                                    </dd>

                                                    <dt>
                                                        Lazer
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.Lazer
                                                    </dd>

                                                    <dt>
                                                        FrequenciaUrianaria
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.FrequenciaUrianaria
                                                    </dd>

                                                    <dt>
                                                        FrequenciaIntestinal
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.FrequenciaIntestinal
                                                    </dd>
                                                    @if (item.refugiado.Sexo == "F")
                                                    {
                                                        <dt>
                                                            Menarca
                                                            :
                                                        </dt>

                                                        <dd>
                                                            @item.Menarca
                                                        </dd>

                                                        <dt>
                                                            DUM
                                                            :
                                                        </dt>

                                                        <dd>
                                                            @item.DUM
                                                        </dd>

                                                        <dt>
                                                            NParceiros
                                                            :
                                                        </dt>

                                                        <dd>
                                                            @item.NParceiros
                                                        </dd>

                                                        <dt>
                                                            Telarca
                                                            :
                                                        </dt>

                                                        <dd>
                                                            @item.Telarca
                                                        </dd>

                                                        <dt>
                                                            GestacoesG
                                                            :
                                                        </dt>

                                                        <dd>
                                                            @item.GestacoesG
                                                        </dd>

                                                        <dt>
                                                            GestacoesP
                                                            :
                                                        </dt>

                                                        <dd>
                                                            @item.GestacoesP
                                                        </dd>

                                                        <dt>
                                                            GestacoesA
                                                            :
                                                        </dt>

                                                        <dd>
                                                            @item.GestacoesA
                                                        </dd>

                                                        <dt>
                                                            UltimoPapanicolau
                                                            :
                                                        </dt>

                                                        <dd>
                                                            @item.UltimoPapanicolau
                                                        </dd>

                                                        <dt>
                                                            Resultado
                                                            :
                                                        </dt>

                                                        <dd>
                                                            @item.Resultado
                                                        </dd>

                                                        <dt>
                                                            ExameDeMama
                                                            :
                                                        </dt>

                                                        <dd>
                                                            @item.ExameDeMama
                                                        </dd>
                                                    }
                                                    <dt>
                                                        SinaisPA
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.SinaisPA
                                                    </dd>

                                                    <dt>
                                                        SinaisP
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.SinaisP
                                                    </dd>

                                                    <dt>
                                                        SinaisTEMP
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.SinaisTEMP
                                                    </dd>

                                                    <dt>
                                                        SinaisRESP
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.SinaisRESP
                                                    </dd>

                                                    <dt>
                                                        SinaisDOR
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.SinaisDOR
                                                    </dd>

                                                    <dt>
                                                        ProblemasEncontrados
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.ProblemasEncontrados
                                                    </dd>

                                                    <dt>
                                                        ExameFisico
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.ExameFisico
                                                    </dd>

                                                    <dt>
                                                        Diagnostico
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.Diagnostico
                                                    </dd>

                                                    <dt>
                                                        Prescricros
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.Prescricros
                                                    </dd>

                                                    <dt>
                                                        Resultados
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.Resultados
                                                    </dd>

                                                    <dt>
                                                        Obs
                                                        :
                                                    </dt>

                                                    <dd>
                                                        @item.Obs
                                                    </dd>

                                                </dl>
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-white btn-info btn-bold" data-dismiss="modal">
                                                    <i class="ace-icon fa fa-times"></i>
                                                    Close
                                                </button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <div id="cartas" class="tab-pane fade">
            @if (Model.Oportunidades.Count != 0)
            {
                <h4>Cartas de encaminhamentos</h4>
                <div class="form-horizontal">
                    <div class="dl-horizontal">
                        @foreach (var item in Model.Oportunidades)
                        {
                            <div class="">
                                <a href="~/Refugiado/Imprimir/?key=@item.CartaDeEncaminhamentoId" target="_blank">
                                    <i class="menu-icon fa fa-file-text"></i>
                                    <span class="menu-text">Carta de encaminhamento feita em: @item.DataDeModificacao</span>
                                </a> |
                                @if (item.resultado == 0)
                                {
                                    <a href="~/Refugiado/EncaminharPositivo/?key=@item.CartaDeEncaminhamentoId">
                                        <i class="menu-icon fa fa-check"></i>
                                        <span class="menu-text">Aprovado</span>
                                    </a>
                                    <a href="~/Refugiado/EncaminharNegativo/?key=@item.CartaDeEncaminhamentoId">
                                        <i class="menu-icon fa fa-ban"></i>
                                        <span class="menu-text">Reprovado</span>
                                    </a>
                                }
                            </div>
                        }
                    </div>

                </div>
            }
        </div>
    </div>
    <div class="form-group col-xs-12">
        <hr />
        <p>
            <a href="~/Refugiado/Edit/@modelo.RefugiadoId" class="btn btn-white btn-info btn-bold">
                <i class="menu-icon fa fa-pencil"></i>
                <span class="menu-text">Edit</span>
            </a> |
            <a href="~/Triagem/Create/@modelo.RefugiadoId" class="btn btn-white btn-info btn-bold">
                <i class="menu-icon fa fa-heartbeat"></i>
                <span class="menu-text">NovaTriagem</span>
            </a>
            | <a href="~/Refugiado/Index" class="btn btn-white btn-info btn-bold">
                <i class="ace-icon fa fa-undo blue"></i>Voltar para a lista
            </a>
        </p>
    </div>
</div>